.App {
    text-align: center;
    background-image: linear-gradient(to bottom, #b9c4d4, #b9c4d4), linear-gradient(to bottom, #557245, #557245);
    background-position: 0 0, 0 89%;
    background-size: 100% 89%, 100% 100%;
    background-repeat: no-repeat, no-repeat;
    display: flex;
    justify-content: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Display {
  background-image: url(Display.png);
  width: 1080px;
  height: 1920px;
  position: relative;
}

.Toilet {
    position: absolute;
    background-position: 0 0, 0 105%;
    background-size: 100% 27.5%, 100% 70%;
    background-repeat: no-repeat, no-repeat;
    color: white;
}

.Toilet.online {
    background-image: linear-gradient(to bottom, blue, blue), linear-gradient(to bottom, blue, blue);
}

.Toilet.offline {
    background-image: linear-gradient(to bottom, #333333, #333333), linear-gradient(to bottom, #333333, #333333);
}

.Toilet.vacant {
    background-image: linear-gradient(to bottom, #33aa33, #33aa33), linear-gradient(to bottom, #33aa33, #33aa33);
}

.Toilet.occupied {
    background-image: linear-gradient(to bottom, #aa3333, #aa0000), linear-gradient(to bottom, #aa3333, #aa0000);
}

.Toilet#t00 {
    left: 69.5%;
    top: 85%;
    width: 14.3%;
    height: 3.3%;
    background-size: 100% 100%, 0 0;
}

.Toilet#t01 {
    left: 18.3%;
    top: 69.2%;
    width: 14.5%;
    height: 10%;
}

.Toilet#t02 {
    left: 69.4%;
    top: 69.2%;
    width: 14.5%;
    height: 10%;
}

.Toilet#t03 {
    left: 18.3%;
    top: 49%;
    width: 14.5%;
    height: 10%;
}

.Toilet#t04 {
    left: 69.5%;
    top: 49%;
    width: 14.5%;
    height: 10%;
}

.Toilet#t05 {
    left: 18.3%;
    top: 33.3%;
    width: 14.5%;
    height: 10%;
}

.Toilet#t06 {
    left: 69.4%;
    top: 33.3%;
    width: 14.5%;
    height: 10%;
}

.Toilet#t08 {
    left: 69.4%;
    top: 20.5%;
    width: 14.3%;
    height: 4.5%;
    background-size: 100% 100%, 0 0;
}
